.icone-nav {
    padding: 0 0.6em;
    max-width: 80px;
    max-height: 80px; 
}

.titulo-navbar {
    font-family: var(--fonte-titulo)!important;
    color: var(--azul-medio)!important;
    font-size: 42px!important;
    font-weight: 800;
}

.titulo-navbar:hover {
    color: var(--azul-escuro)!important;
}

@media (max-width: 576px) {
    .icone-nav {
        max-width: 60px;
        max-height: 60px; 
    }
    
    .titulo-navbar {
        font-size: 30px!important;
    }
}
