.icone-nav {
    padding: 0 0.6em;
    max-width: 80px;
    max-height: 80px; 
}

.titulo-navbar {
    font-family: var(--fonte-titulo)!important;
    color: var(--azul-medio)!important;
    font-size: 42px!important;
    font-weight: 800;
}

.titulo-navbar:hover {
    color: var(--azul-escuro)!important;
}
