.secao-contatos {
    color: var(--azul-medio);
}

.secao-contatos ul {
    display: flex;
    justify-content: space-evenly;
}

.secao-contatos-li {
    margin: 2em;
    align-items: center;
    display: flex;
}

.secao-contatos-li p {
    padding: 0.5em;
    margin-top: 1em ;
}
