.secao-um {
    background-color: var(--azul-claro);
    padding: 2em 6em;
    align-items: center;
}

.icone-secao-um {
    max-width: 20em;
}

.secao-um-texto {
    text-align: justify;
    padding-right: 4em;
}

.secao-tres-img {
    width: 15em;
}



@media (max-width: 576px) {
    .secao-um {
        flex-direction: column;
        padding: 1em;
    }

    .icone-secao-um {
        max-width: 18em;
    }

    .secao-um-texto {
        padding: 1em;
    }

    .secao-tres-img {
        width: 12em;
    }
    
}