/* CSS para configurações gerais. Obs o modo principal é o escuro */

/* Importa fontes google */

/* fonte titulo */
@import url('https://fonts.googleapis.com/css2?family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');

/* fonte corpo */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Cria variáveis com cores e fontes */
:root {
    --fonte-titulo: "Sansita", sans-serif;
    --fonte-corpo: "Montserrat", sans-serif;
    --azul-medio: #265073;
    --azul-escuro: #173b58;
    --azul-claro: #79a6caa4;
    --white: #f1f1f1;
    --branco-diluido: #f1f1f1a2;
}

h1,
h2,
h3 {
    font-family: var(--fonte-titulo);
    font-weight: 700 !important;
    /* color: var( --azul-medio); */
}

body {
    margin: 0;
    font-family: var(--fonte-corpo) !important;
}

ul {
    list-style-type: none;
}

.link {
    font-weight: 600 !important;
}

.check-box {
    font-size: 14px;
}

/* ********* LOGIN ********** */
.container-login {
    background-color: var(--branco-diluido);
    border-radius: 10px;
}

.container-login h2 {
    padding-bottom: 0.5em;
}

.container-login button {
    margin: 0.5em 0 0 0;
}

/* ********* CADASTRO ********** */

.container-cadastro {
    background-color: var(--branco-diluido);
    border-radius: 10px;
    width: 70%;
}
